.two-column-form-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.column-form-wrapper{
  width:45%;
  height: 500px;
}

.two-column-form{
  /* margin-left: 60px;
  width: 90%; */
  background-color: #0E1322;
}

.text-area{
  background-color:#060C1B;
  margin: 12px;
  border: none;
}
