/* .Outline{
  padding: 11px 32px;
  font-weight: 400;
}

.font-size-small{
  font-size: small;
} */

.button-content-wrapper{
  margin-right: 38px;
}
/* .button-content-wrapper:nth-child(2) button {
  color: black !important;
} */

