.button-content-wrapper{
  margin-right: 38px;
}

.button-content_style{
  font-size: 'small';
  padding: 11px 32px;
  font-weight: '500';
}

.outline_style{
  border: "1px solid this.props.color";
  color: "this.props.color";
  border-radius: '4px';
}