.listing-wrapper{
  width: 86% !important;
  padding: 30px 22px;
}

.layout-header{
  font-size: 28px;
}

.column-listing{
  display: flex;
  width: 97%;
  padding: 0px 15px 15px 15px;
}

.two-column-listing{
  display: flex;
  flex-direction: column;
  width: 97%;
  padding: 0px 15px 15px 15px;
}

.column-listing-parts{
  display: flex;
  margin-bottom: 12px;
}

.images{
  /* position: relative; */
  width: 100%;
  height: 340px;
}

.third-image{
  width: 100%;
  height: 380px;
}

.two-column-images{
  width: 50%;
  height: 226px;
}

.second-column-images{
  width: 100%;
  height: 205px;
}

.three-column-images{
  width: 100%;
  height: 226px;
}

.display{
  display: flex;
}

.three-listing-column{
  width: 33%;
  margin-right: 15px;
  /* margin-left: 20px; */
  background-color: #0E1322;
}

.two-listing-column{
  width:50%;
  background-color: #0E1322;
  height: 180px;
  /* margin-right: 15px; */
}


.third-product-name{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 0px 9px;
}

.prod-description{
  font-size: 13px;
  font-family: sans-serif;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.product-description{
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.product-prize{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 3px;
  display: flex;
}

.strike{
  margin-right: 4px;
  color: gray;
  font-weight: 400;
}

.listing-data{
  padding: 10px;
}

.product-listing{
  padding: 30px 0px 0px 30px;
  width: 90%;
}

.product-add{
  margin-top: 10px;
}

.add-button{
  background-color: #0060E7;
  border: 1px solid transparent;
  margin-right: 5px;
  border-radius: 2px;
  font-weight: 800;
  padding: 3px 10px;
}

.plus-button{
  background-color: #0060E7;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 800;
  padding: 3px 7px;
}

.two-listing-column-content-three{
  /* width:50%; */
  background-color: #0E1322;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  height: 352px;
}

.two-listing-column-content-four{
  width:50%;
  background-color: #0E1322;
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  height: 352px;
}


.fourth-content-images{
  width: 30%;
  height: 200px;
}

.fourth-column-images{
  width: 32%;
  height: 200px; 
}

.listing-column{
  width:97%;
  background-color: #0E1322;
  margin-bottom: 16px;
}


.single-product-listing{
  padding: 52px 21px 0px 49px;
  width: 68%;
}

.name-and-icon{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.font-size-12{
  font-size: 12px;
}

.home-description{
  display: flex;
  font-size: 13px;
  margin-bottom: 20px;
  color: #0060E7;
}

.furnished{
  margin-right: 30px;
}

.contact{
  display: flex;
  justify-content: space-between;
}

.contact-button{
  padding: 0px 20px;
  background-color: #0060E7;
  border: 1px solid transparent;
  border-radius: 2px;
}

.star-rating{
  margin-right: 15px;
}

.rating{
  display: flex;
  justify-content: space-between;
}

.three-column-images-one{
  width: 50%;
  background-color: #0E1322;
  margin-right: 15px;
}

.two-listing-column-one{
  width:50%;
  background-color: #0E1322;
  margin-right: 15px;
  height: 180px;
}

.two-listing-column-images{
  width: 40%;
  height: 170px;
  padding: 5px;

}

.two-listing-column-image{
  width: 47%;
  height: 180px;
}

.star-button{
  padding: 3px 9px;
  border-radius: 2px;
  background-color: #0060E7;
  display: flex;
  font-size: 12px;
  border: 1px solid transparent;
  width: 15%;
  justify-content: space-between;
}

.rate-button{
  padding: 3px 0px;
  border-radius: 2px;
  /* background-color: #0060E7; */
  display: flex;
  /* font-size: 12px; */
  border: 1px solid transparent;
}

.three-listing-second-image{
  width: 100%;
  height: 360px;
}

.bottom-left {
  bottom: 8px;
  left: 16px;
}

.day-time{
  /* display: flex;
  flex-direction: row; */
  font-size: 12px;
  font-family: sans-serif;
  font-weight:500;
  margin-bottom: 3px;
  display: flex;
    justify-content: space-between;
    padding: 6px 17px 11px 0px;
}

.material-size{
  font-size: 12px;
  margin-right: 6px;
}