.card-header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.user-profiles{
  display: flex;
  padding: 40px;
  color: white;
  font-size: 13px;
}

.notes-card-column{
  background-color: #0E1322;
  width: 25%;
}

.card_columns{
  display: flex;
  justify-content: space-evenly;
}

.user-profile-img{
  width:40%;
  border-radius: 100px;
}

.user-profile{
  text-align: center;
  background-color: #0E1322;
  margin:10px;
  padding: 24px;
}

.profile-img-div{
  /* padding: 30px 20px; */
}

.user-name{
  margin-top: 14px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 600;
}
.user-email{
  color: cornflowerblue;
}
.todos{
  width:30%;
  background-color: #0E1322;
 }
 
.user-role{

}

.todo_card{
  padding: 20px;
  margin: 15px;
  background-color: white;
}

.todo_image{
  width: 16%;
  border-radius: 45px;
  height: 55px;
  padding: 7px;
}

.todo_images{
  display: flex;
}

.clr_white{
  color: white;
}

.clr_darkgray{
  color: darkgray;
}

.img_div{

}