.basic-form-wrapper{
  background-color: #0E1322 ;
  height: 600px;
  width:47%;
  border-radius: 8px;
}

.form-header{
  font-size: 15px;
  color: #FAFBFD;
  padding:10px;
  text-align: center;
  background-color: #070B17;
  border-radius: 8px 8px 0px 0px;
}

.form-content{
  /* padding:25px 35px 25px 35px; */
  padding: 39px 35px 39px 35px;
}

.names{
  display:flex;
  justify-content: space-between;
}

.text-input{
  border:none;
  background-color: #0E1322;
  border-bottom:1px solid #545A68;
  width:100%;
  padding:10px 0px;
  /* outline:none; */
}

.contact-verify{
  padding:10px;
  margin-top: 20px;
}

.checkbox-grp{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}

h5{
  color:#545A68;
  padding-left: 5px;
}

.verify-data{
  display: flex;
  align-items: center;
  width: 150px;
}

.text-fileds{
  padding:22px 11px 22px 10px;
}

.input-placeholder{
  color:#545A68;
  padding:10px 10px 10px 0px;
  font-size:12px;
}

.form-buttons{
  padding-bottom: 55px;
  text-align: center;
}

.form-btn{
  border-radius: 5px;
  color: white;
  margin-right: 23px;
  border: none;
  padding: 14px 37px;
}

.cancel-btn-clr{
  background-color: #3E3F53;
}

.login-btn-clr{
  background-color:blue; 
}