
.chart-wrapper{
  padding: 76px 0px 30px 0px;
}

.blank{
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.statistics-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 23px;
}

.statistics-data{
  height: 360px;
  padding: 16px;
}

.percentage{
  width: 25%;
}

.subtitle{
  width: 45%;
}