.content-header{
  text-align: left;
  font-size: 28px;
  color: white;
  font-weight: 600;
  margin: 0px 0px 100px 39px;
}

.main-content{
  padding: 30px;
}

.email-statistics{
  width: 100%;
  display: flex;
}

.task-activity{
  display: flex;
  width: 100%;
}

.main-content-wrapper{
  width:86% !important; 
}

.content{
  padding: 20px 0px 0px 30px;
  display: flex;
  flex-direction: column;
}

